@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}
body {
  padding-inline: 4em;
}
section {
  font-size: 40px;
  text-align: center;
  padding-block: 12rem;
}
.error {
  color: red;
}
.password-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.password-wrapper input {
  flex: 1;
  padding-right: 40px; /* Add space for the button */
}

.toggle-password-btn {
  position: absolute;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  z-index: 10; /* Ensure it's above any default icon */
}
.custom-password-input::-ms-reveal, 
.custom-password-input::-ms-clear {
  display: none;
}

.custom-password-input::-webkit-inner-spin-button,
.custom-password-input::-webkit-outer-spin-button,
.custom-password-input::-webkit-textfield-decoration-container {
  display: none;
}

.custom-password-input {
  -webkit-text-security: none; /* Removes browser styling */
}
