.contactUs{
    display: flex;
}
.contact_content{
    text-align: center;
}
.contact_links{
    display: flex;
    flex-direction: column;
    background-color: #2A3238;
    width: 242px;
    height: 308px;
    border-radius: 20px;
}
.contact_links a {
    text-decoration: none;
    color: #FFFFFF99;
}
 a.active{
    color: #FFFFFF;
}