@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');

* {
    font-family: "Parkinsans", sans-serif;
}
body {
  background-color: rgb(241, 238, 238);
}
.loginComponent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.loginComponent h1 {
  font-size: 5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}
