.navbar{
    padding-inline: 4em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 1em;
    background-color: transparent;
    border-radius: 4em;
    width: 50%;
    margin: auto;
    margin-bottom: 2em;
}
.navbar_menu ul {
    display: flex;
    align-items: center;
    gap: 2em;
}

.navbar a {
    text-decoration: none;
    color: black;
    opacity: .5;
}
 a.ative{
    opacity: 1;
}